/***************Start of header styles ***********/

/***************End of header styles ***********/



/***************Start of nav styles ***********/

/***************End of nav styles ***********/



/***************Start of content styles ***********/

/***************End of content styles ***********/



/***************Start of footer styles ***********/

/***************End of footer styles ***********/
