body{
    font-family: 'Open Sans Condensed', sans-serif;
}
/***************Start of hero styles ***********/
.hero-flex{
  background-image: url('../images/eye-seattle-color-4.png');
  height: 385px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.website-title{
  color:white;
  font-size:65px;
  font-family: 'Pacifico', cursive;
}
/***************End of hero  styles ***********/

/***************Start of nav styles ***********/
.nav-flex{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  border-bottom: 1px solid grey;
}
.nav-flex li a{
  border-radius: 0px;
  color:black;
  font-size:20px;
}
.nav-flex li a:hover {
    text-decoration: none;
    background-color: white;
}
.nav-dividers{
  border-right:1px solid grey;
}


/***************End of nav styles ***********/



/***************Start of content styles ***********/

/***************End of content styles ***********/



/***************Start of footer styles ***********/

/***************End of footer styles ***********/
