/***************Start of hero styles ***********/
.hero-flex{
  background-image: url('../images/eye-seattle-color-3.png');
  height: 385px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.website-title{
  color:white;
  font-size:65px;
  font-family: 'Pacifico', cursive;
}
/***************End of hero styles ***********/

/***************Start of header styles ***********/

/***************End of header styles ***********/



/***************Start of nav styles ***********/

/***************End of nav styles ***********/



/***************Start of content styles ***********/

/***************End of content styles ***********/



/***************Start of footer styles ***********/

/***************End of footer styles ***********/
